
  .flexInicialLogo  {
    display:flex;
    flex-direction: row;
    justify-content:center; 
    padding:0;
    margin:0;
    height: 100vh;
    
    &__posicionamiento {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
  
      &__n{
        font-size: $nDesk;
        font-family:$roboto;
        color:$colorAzulTitulos;
        padding: 0px;
        margin:0px;
      }  
      
      &__comercio{
        font-size: $comercioDesk;
        letter-spacing: 0px;
        font-weight:light;
        font-family:$monserrat;
      }
      
      &__exterior{
        font-size:$exteriorDesk;
        letter-spacing: 2px;
        font-weight: bold;
        font-family: $staatliches;
      }
    }
  }
    
    .fondo {
      background-image: url("../Imagenes/camiones2.jpg");
      background-repeat:no-repeat;
      background-size: cover;
      padding: 0;
    }
  
    .flexInicial  {
      display:flex;
      flex-direction: row;
      justify-content:center; 
      padding:0;
      margin:0;
      height: 100vh;
      
      &__posicionamiento {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    
        &__textoGrande{
          font-size: $textoGrandeDesk;
          font-family:$roboto;
          font-weight: bolder;
          color:$colorAzulTitulos;
          padding: 0px;
          margin:0px;
        }  
        
        &__textoChico{
          font-size: $textoDesk;
          letter-spacing: 0px;
          font-weight:light;
          font-family:$monserrat;
        }
      }
    }
  
    @media (min-width: 950px) {
      .flexInicialLogo  {
        display:flex;
        flex-direction: row;
        justify-content:center; 
        padding:0;
        margin:0;
        height: 100vh;
        
        &__posicionamiento {
          display: flex;
          flex-direction: column;
          justify-content: center;
          text-align: center;
      
          &__n{
            font-size: $nDesk;
            font-family:$roboto;
            color:$colorAzulTitulos;
            padding: 0px;
            margin:0px;
          }  
          
          &__comercio{
            font-size: $comercioDesk;
            letter-spacing: 0px;
            font-weight:light;
            font-family:$monserrat;
          }
          
          &__exterior{
            font-size:$exteriorDesk;
            letter-spacing: 2px;
            font-weight: bold;
            font-family: $staatliches;
          }
        }
      }
        .fondo {
          background-image: url("../Imagenes/camiones2.jpg");
          background-repeat:no-repeat;
          background-size: cover;
          padding: 0;
        }  
          
      }

    @media (max-width: 750px) {
      .flexInicialLogo  {        
        &__posicionamiento {
          &__n{
            font-size: $nTablet;
          }  
          
          &__comercio{
            font-size: $comercioTablet;
          }
          
          &__exterior{
            font-size:$exteriorTablet;
          }

        }
      }

      .flexInicial {        
        &__posicionamiento {
          &__textoGrande{
            font-size: $comercioTablet;
          }  
          
          &__textoChico{
            font-size: $h3Mobile;
          }
        }
      }
    }

    @media (max-width: 350px) {
      .flexInicialLogo  {        
        &__posicionamiento {
          &__n{
            font-size: $h2Desk;
          }  
          
          &__comercio{
            font-size: $h3Mobile;
          }
          
          &__exterior{
            font-size:$h3Mobile;
          }
        }
      }

      .flexInicial {        
        &__posicionamiento {
          &__textoGrande{
            font-size: $h2Desk;
          }  
          
          &__textoChico{
            font-size: $h3Mobile;
          }
        }
    }
  }