s  .divContacto {
    padding-top: 20vh;
    grid-area: divContacto;
    font-weight:light;
    font-family:$monserrat;
    background-color: $colorBlanco;

    animation-name: efecto_contacto;
    animation-duration: 1s;
    animation-delay: 0;
    animation-timing-function: ease-in;
    
    form{
      padding:40px;
      text-align: justify;
    }

    input{
      @extend .estiloForm;
      text-align: justify;
      height: 25px;
      border-radius: 5px;
    } 
    
    textarea {
      text-align: justify;
      margin-top: 15px;
      @extend .estiloForm;
    }

    h2 {
      text-align: right;
      padding-right: 40px;
        color:$colorAzul;
        font-size:$h2Desk;
        font-family:$roboto;
    }

    .boton {
        input{
            height: 30px;
            width: 49%;
        }
    }
  }
  
  .flexContacto {
    grid-area: divInfo;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: url("../Imagenes/imagen2.jpg");
    background-repeat:no-repeat;
    background-size: cover;

    justify-content: center;
    text-align: center;
    
    h1 {
      color:$colorAzul;
      font-size: $h1Desk;
      font-family:$roboto;
    }

    h3 {
      margin-top:1vh;
      color:$colorNegro;
      font-size: $h3Desk;
      font-family:$roboto;
    }

    h4 {
        color:$colorNegro;
        font-size: $h4Desk;
        font-family:$monserrat;
        margin-bottom: 2px;
      }

    article {
      color:$colorAzulRGBA;
      font-size:$articleDesk;
      font-weight:light;
      font-family: $monserrat;
      text-align: center;
      margin-bottom: 4px;

      a{
        color:$colorAzulRGBA;
        text-decoration: none;
        font-size:$articleADesk;
        font-weight:bold;
        font-family: $monserrat;
        text-align: center;
      }
    }

    #titulo {
      grid-area: info;
      text-align: center;
    }

    #andres {
      @extend .tarjeta;
      transition: height 0.4s ease-out;
    }
    
    #andres:hover {
      background-color:$colorBlanco;   
      height: 200px;
      transition: all 0.4s ease-in-out;
      .contenido{
        visibility: visible;
        transition-delay: 0.3s;
      }
      
      h1{
        margin-bottom: 0;
      }
    }

    #florencia {
      @extend .tarjeta;
      transition: height 0.4s ease-in-out;
    }

    #florencia:hover {
      background-image: none;
      background-color: $colorBlanco;   
      height: 200px;
      transition: all 0.4s ease-in-out;
      
      .contenido{
        visibility: visible;
        transition-delay: 0.3s;
      }
    }
    .tarjeta {
      height:60px;
      width: 50vw;
      position: relative;
      justify-self: center;
      align-self: center;
      background-color: $colorbgObj;

      border-style: solid;
      border-width: 0.5px;
      border-color: rgba(134, 155, 248, 0.13);
    
      .contenido {
        visibility: hidden;
      }
    }
  }

.estiloForm {
  background-color: rgba(124, 149, 196, 0.637);
  border-style:solid;
  width: 100%;
  border-width: 0.5px;
  border-color: rgba(255, 255, 255, 0.596);
  font-family:$monserrat;
}

