.flexFaq {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding-top: 3vh;
    padding-bottom: 3vh;
    background-color: $colorAzul;

    h3 {
        color:$colorNegro;
        font-size: $h3Desk;
        font-family:$roboto;
    }   
    article {
        font-size:$articleDesk;
        font-weight:light;
        font-family: $monserrat;
        text-align: center;
        margin-bottom: 4px;
    }

    .tarjeta {
        height:9vh;
        width: 90vw;
        position: relative;
        justify-self: center;
        align-self: center;
        background-color: $colorbgObj;
        margin-bottom: 1vh;
  
        transition: height 0.4s ease-out;
        border-style: solid;
        border-width: 0.5px;
        border-color: rgba(134, 155, 248, 0.13);
      
        .contenido {
           transition: all 0.4s ease-in-out;
          visibility: hidden;
        }
    }

    .tarjeta:hover {
        height: 27%;
        padding-bottom: 0.5vh;
        transition: all 0.4s ease-in-out;

        .contenido{
            visibility: visible;
            transition-delay: 0.3s;
          }
    }
}

.flexMasInfo{
    display: flex;
    background-image: url("../Imagenes/camiones2.jpg"); 
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
    margin:0;
    padding:100px;

    h3 {
        margin:0;
        color:$colorAzul;
        font-size: $h1Desk;
        font-family:$staatliches;
        letter-spacing: 5px;
    } 
    
    .boton{
        width: 200px;
        height: 3%;
        margin-left:50% ;
        padding:0;
        background-color: $colorAzul;  
        text-align: center;

        a{
            padding:center;
            margin:0;
            color:$colorBlanco;
            text-decoration: none;
            font-size:$h4Desk;
            font-weight:bold;
            font-family: $monserrat;
        }
    }
}