$colorAzul:rgb(0, 9, 78);
$colorAzulRGBA:rgba(26, 35, 136, 0.856);
$colorAzulRGBA2:rgba(14, 18, 85, 0.753);
$colorAmarillo:rgba(253, 205, 142, 0.932);
$colorBlanco:rgb(240, 240, 240);
$colorNegro:black;
$colorbg:rgba(170, 178, 192, 0.705);
$colorbgObj:rgba(233, 236, 245, 0.863);
$colorHover:rgb(0, 85, 165);


$monserrat:'Montserrat', sans-serif;
$roboto:'Roboto Slab', serif;
$staatliches:'Staatliches', cursive;

//MOBILE
$fsMobile:14px;
$paddingMobile:12px;
  $nMobile:40px;
  $andpersandMobile:33px;
  $comercioMobile:15px;
  $exteriorMobile:19px;
$h2Mobile:25px;
$h3Mobile:15px;
$articleMobile:10px;
$nFooter:22px;
  $anpersandFMobile:13px;
  $comercioFMobile:14px;
  $textoFooter:14px;

//TABLET
$fsMobile:14px;
$paddingMobile:12px;
  $nTablet:70px;
  $andpersandTablet:40px;
  $comercioTablet:30px;
  $exteriorTablet:40px;
$h2Mobile:25px;
$h3Mobile:15px;
$articleMobile:1.8vw;

//DESKTOP
$nDesk:90px;
$textoDesk:26px;
$textoGrandeDesk:50px;
$comercioDesk:35px;
$exteriorDesk:45px;
$h1Desk:2.5vw;
$h2Desk:2.2vw;
$h3Desk:1.5vw;
$h4Desk:1vw;
$articleDesk:1.1vw;
$articleADesk:1vw;
$btnTam:16px;

  #fondo {
      background-color:$colorbg;
      margin:0;
      padding:0;
    }
