section {
      h2 {
      text-decoration: none;
      font-size:$h2Desk;
      font-family:$roboto;
      }
      
      article{
        color:$colorNegro;
        font-size:$articleDesk;
        font-family:$monserrat;
        text-align: justify;
      }
  }

  .flexInicialM  {
    display:flex;
    flex-direction: row;
    justify-content:center; 
    padding:0;
    margin:0;
    
    &__grilla {
      animation-name: efecto_cabecera;
      animation-duration: 2.5s;
      animation-delay: 0;
      animation-timing-function: ease-in;
        display: grid;
        grid-template-areas:
        "texto"
        "textoGrande"
          ;
        justify-content: center;
        text-align: center;
        grid-template-rows:40% 100%;
        padding:15% 0 20% 0;
        margin: 0;
      

      &__texto{
        grid-area:texto;
        font-size: $textoDesk;
        font-family:$roboto;
        padding: 0px;
        margin:0px;
      }  
      
      &__textoGrande{
        grid-area:textoGrande;
        color:rgb(2, 7, 82);
        font-size: $textoGrandeDesk;
        letter-spacing: 0px;
        font-weight:light;
        font-family:$monserrat;
      }

    }
    
    &__fondo {
        background-image: url("imagen2.jpg");
        background-repeat:no-repeat;
        background-size: cover;
        padding: 0;
      }
}
  
  .gridPeaje { 
      display: grid;
      grid-template-areas:
      "imgPeaje txtPeaje"
      ;
      justify-content: center;
      text-align: center;
      grid-template-rows:100%;
      grid-template-columns:0.3fr 1fr;
      column-gap:0;
      row-gap: 0;
      padding:0;
      margin: 0;
  
      .imgPeaje {
        grid-area: imgPeaje;
        img {width:100%;}
      }
  
      .txtPeaje {
        grid-area: txtPeaje;
        align-self: center;
        padding:20px;
        color:$colorNegro;
      }
    }

    .gridCorredores { 
        display: grid;
        grid-template-areas:
        "txtCorredores imgCorredores"
        ;
        justify-content: center;
        text-align: center;
        grid-template-rows:100%;
        grid-template-columns:1fr 0.3fr;
        column-gap:0;
        row-gap: 0;
        padding:0;
        margin: 0;
        background-color: $colorAzul;
  
        .imgCorredores {
          grid-area: imgCorredores;
          img {width:100%;}
        }
    
        .txtCorredores {
          grid-area: txtCorredores;
          align-self: center;
          padding:20px;
          color:$colorBlanco;
        }
      }
      .gridPueblos { 
        display: grid;
        grid-template-areas:
        "imgPueblos txtPueblos"
        ;
        justify-content: center;
        text-align: center;
        grid-template-rows:100%;
        grid-template-columns:0.5fr 1fr;
        column-gap:0;
        row-gap: 0;
        padding:0;
        margin: 0;
  
        .imgPueblos {
          grid-area: imgPueblos;
          img {width:100%;}
        }
    
        .txtPueblos {
          grid-area: txtPueblos;
          align-self: center;
          padding:20px;
          color:$colorNegro;
        }
      }
