  .nav {
    transition: all 0.4s;
    display: flex;
    width: 100%;
    text-align: center;
    justify-content: center;
    background-color: $colorAzul;
    margin: 0;
    padding: 0;
    position: absolute;
    list-style-type: none;
    text-decoration: none;
    
    ul {
      align-content:center;
      display: none;
      position:absolute;
      padding:0;
      transition: all 0.4s;
      list-style-type: none;
      text-decoration: none;

      li {
        transition: all 0.4s;
        list-style-type: none;
        text-decoration: none;
        position: relative;
        padding:0;
      }
    }

    li {
      a {
        list-style-type: none;
        text-decoration: none;
        color:$colorBlanco;
        text-decoration: none;
        display:block;
        padding: 15px;
        font-size: 20px;
        letter-spacing: 2px;
        font-weight:bold;
        transition: all 0.4s; 
        font-family: $staatliches;
      }
    }

    a:hover {
      transition: all 0.4s;
      color: $colorHover;
      display: block;
      background-color: #b1c4d436;
    }
  }

  .nav > li {
    transition: all 0.4s;
    float: left;
  }
  
  .nav li:hover > ul{
    transition: all 0.4s;
    background-color: $colorAzul;
    display:block;
    padding:0;
  }

  @media (max-width: 950px) {
    .nav {  
      li {
        a {
          padding: 20px;
          font-size: 20px;
          letter-spacing: 2px;
        }
      }
  }
}

  @media (max-width: 650px) {
    .nav {
      li {
        a {
          padding: 20px 15px;
          font-size: 15px;
          letter-spacing: 2px;
        }
      }
    }
  }

  @media (max-width: 520px) {
  
      li {
        a {
          list-style-type: none;
          color:$colorBlanco;
          text-decoration: none;
          display:block;
          padding: 20px 15px;
          font-size: $articleMobile;
          letter-spacing: 2px;
          font-weight:bold;
          font-family: $staatliches;
        }
      }
  }

  @media (max-width: 470px) {
    .nav {  
      li {
        a {
          padding: 10px;
          font-size: 10px;
          letter-spacing: 2px;
        }
      }
  }
}