.flexServicio {
    padding:150px 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    background-color: $colorAzul;

    h2{
        color:$colorNegro;
        font-size: $h2Desk;
        font-family:$roboto;
    }

    article {
        font-size:$articleDesk;
        font-weight:light;
        font-family: $monserrat;
        text-align: center;
    }

    .servicio{
        @extend .estiloServicio;
        transition: all 0.5s ease-in-out;
        background-color: $colorBlanco;

        i {
            font-size: 45px;
        }
        
        .contenidoServicio {
            display: flex;
            text-align: center;
            justify-content: center;
            visibility: hidden;
        }
    }

    .servicio:hover {
        height:400px;
        padding-top: 0px;
        background-color: $colorHover;
        transition: all 0.4s ease-in-out;
        
        h2 {
            color:$colorAzul;
        }
        i{
            visibility: hidden;
            transition: all 0.4s ease-in-out;
            font-size: 5px;
        }
        .contenidoServicio {
            transition: all 0.4s ease-in-out;
            visibility: visible;
            transition-delay: 0.4s;
          }
    }
}

.estiloServicio {
    height:210px;
    width: 325px;
    margin:25px;
    padding-top: 90px;
    position: relative;
    justify-content: center;
    align-self: center;
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
}