#fondo {
  background-color: rgba(170, 178, 192, 0.705);
  margin: 0;
  padding: 0;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #00094e;
  margin: 0;
  padding: 0;
  position: absolute;
}

.nav ul {
  list-style-type: none;
  text-align: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.nav li a {
  list-style-type: none;
  color: #f0f0f0;
  text-decoration: none;
  display: block;
  padding: 15px;
  font-size: 20px;
  letter-spacing: 2px;
  font-weight: bold;
  font-family: "Staatliches", cursive;
}

.nav a:hover {
  color: #c8d6e4;
  display: block;
  background-color: #b9dcf821;
}

.nav ul {
  display: none;
  position: absolute;
  padding: 0;
  text-align: left;
}

.nav ul li {
  position: relative;
  padding: 0;
}

.nav > li {
  float: left;
}

.nav li:hover > ul {
  background-color: #00094e;
  display: block;
  padding: 0;
}

.flexQuienesSomos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #00094e;
  padding: 0;
}

.flexQuienesSomos article {
  font-size: 20px;
  color: #f0f0f0;
  font-family: "Montserrat", sans-serif;
  text-align: justify;
}

.flexQuienesSomos h2 {
  color: rgba(253, 205, 142, 0.932);
  font-size: 30px;
  font-family: "Roboto Slab", serif;
}

.flexQuienesSomos .imagen {
  height: 450px;
}

.flexQuienesSomos .texto {
  padding: 70px;
}

.flexInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 15px;
}

.flexInfo h3 {
  color: rgba(253, 205, 142, 0.932);
  font: size 15px;
  font-family: "Roboto Slab", serif;
  text-align: center;
}

.flexInfo article {
  color: #f0f0f0;
  font-size: 1.8vw;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

.flexInfo__grilla {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "info1 info2";
  -ms-grid-rows: 100%;
      grid-template-rows: 100%;
  padding: 2% 2% 3% 2%;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-column-gap: 6%;
  grid-row-gap: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.flexInfo__grilla__1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: info1;
  background-color: #00094e;
  padding: 10px;
}

.flexInfo__grilla__2 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: info2;
  background-color: #00094e;
  padding: 10px;
}

.flexMapa {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  background-color: #00094e;
}

.flexMapa__grilla {
  display: -ms-grid;
  display: grid;
  text-align: center;
      grid-template-areas: "ubicacion mapa";
  -ms-grid-rows: 100%;
      grid-template-rows: 100%;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-column-gap: 0;
  grid-row-gap: 0;
}

.flexMapa__grilla__ubicacion {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: ubicacion;
  padding-bottom: 7%;
}

.flexMapa__grilla__ubicacion h2 {
  color: rgba(253, 205, 142, 0.932);
  font-size: 30px;
  font-family: "Roboto Slab", serif;
}

.flexMapa__grilla__ubicacion article {
  text-align: center;
  color: #f0f0f0;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
}

.flexMapa__grilla__ubicacion__articleBold {
  font-weight: bold;
}

.flexMapa__grilla__mapa {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: mapa;
}

.flexMapa__grilla__mapa__tam {
  height: 100%;
  width: 100%;
}

@media (min-width: 950px) {
  .flexInfo h3 {
    color: rgba(253, 205, 142, 0.932);
    font-size: 23px;
    font-family: "Roboto Slab", serif;
    text-align: center;
  }
  .flexInfo article {
    color: #f0f0f0;
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
    text-align: center;
  }
}

@media (min-width: 950px) {
  .flexInicial {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0;
    margin: 0;
    height: 100vh;
  }
  .flexInicial__grilla {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "NyN" "ComEx" "Boton";
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    -ms-grid-rows: 40% 100%;
        grid-template-rows: 40% 100%;
    padding: 15% 0 20% 0;
    margin: 0;
  }
  .flexInicial__grilla__n {
    font-size: 90px;
    font-family: "Roboto Slab", serif;
    color: #020752;
    padding: 0px;
    margin: 0px;
  }
  .flexInicial__grilla__comercio {
    font-size: 35px;
    letter-spacing: 0px;
    font-weight: light;
    font-family: "Montserrat", sans-serif;
  }
  .flexInicial__grilla__exterior {
    font-size: 45px;
    letter-spacing: 2px;
    font-weight: bold;
    font-family: "Staatliches", cursive;
  }
  .flexInicial__fondo {
    background-image: url("../Imagenes/camiones2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;
  }
}

.footer {
  background-color: black;
  margin: 0px;
}

.footer__grid {
  color: #f0f0f0;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "Logo LineaFooter";
  -ms-grid-rows: 100%;
      grid-template-rows: 100%;
  -ms-grid-columns: 0.3fr 1.7fr;
      grid-template-columns: 0.3fr 1.7fr;
  grid-column-gap: 0;
  grid-row-gap: 0;
}

.footer__grid__logo {
  padding-top: 17px;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: Logo;
  text-align: center;
  border-right: dashed 1px rgba(255, 255, 255, 0.548);
}

.footer__grid__logo__n {
  font-size: 22px;
  font-family: "Roboto Slab", serif;
  color: #f0f0f0;
  padding: 0px;
  margin: 0px;
  text-align: center;
}

.footer__grid__logo__anpersand {
  font-size: 13px;
  font-weight: light;
  font-family: "Roboto Slab", serif;
  text-align: center;
}

.footer__grid__logo__comercio {
  font-size: 14px;
  font-weight: light;
  color: #f0f0f0;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

.footer__grid__linea {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: LineaFooter;
  text-align: center;
  text-decoration: none;
  color: #f0f0f0;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

.footer__grid__linea a {
  text-decoration: none;
  color: #f0f0f0;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

.sectionContacto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  background-color: #00094e;
}

.sectionContacto .divContacto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  grid-area: divContacto;
  font-weight: light;
  font-family: "Montserrat", sans-serif;
  width: 500px;
  margin: 25px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  background-color: #f0f0f0;
}

.sectionContacto .divContacto form {
  padding: 40px;
  text-align: justify;
}

.sectionContacto .divContacto input {
  text-align: justify;
  height: 25px;
  width: 30px;
}

.sectionContacto .divContacto textarea {
  text-align: justify;
  margin-top: 15px;
  width: 100px;
}

.sectionContacto .divContacto h2 {
  text-align: center;
  padding-right: 40px;
  color: #00094e;
  font-size: 30px;
  font-family: "Roboto Slab", serif;
}

.sectionContacto .divContacto .boton input {
  height: 30px;
  width: 49%;
}

.flexContacto {
  grid-area: divInfo;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-image: url("../Imagenes/camiones2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.flexContacto h1 {
  color: #00094e;
  font-size: 40px;
  font-family: "Roboto Slab", serif;
}

.flexContacto h3 {
  margin-top: 1vh;
  color: black;
  font-size: 23px;
  font-family: "Roboto Slab", serif;
}

.flexContacto h4 {
  color: black;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 2px;
}

.flexContacto article {
  color: rgba(0, 9, 78, 0.425);
  font-size: 20px;
  font-weight: light;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  margin-bottom: 4px;
}

.flexContacto article a {
  color: rgba(0, 9, 78, 0.425);
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

.flexContacto #titulo {
  grid-area: info;
  text-align: center;
}

.flexContacto #andres {
  -webkit-transition: height 0.4s ease-out;
  transition: height 0.4s ease-out;
}

.flexContacto #andres:hover {
  background-color: #f0f0f0;
  height: 200px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.flexContacto #andres:hover .contenido {
  visibility: visible;
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.flexContacto #andres:hover h1 {
  margin-bottom: 0;
}

.flexContacto #florencia {
  -webkit-transition: height 0.4s ease-in-out;
  transition: height 0.4s ease-in-out;
}

.flexContacto #florencia:hover {
  background-image: none;
  background-color: #f0f0f0;
  height: 200px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.flexContacto #florencia:hover .contenido {
  visibility: visible;
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.flexContacto .tarjeta, .flexContacto #andres, .flexContacto #florencia {
  height: 60px;
  width: 50vw;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  background-color: rgba(233, 236, 245, 0.863);
  border-style: solid;
  border-width: 0.5px;
  border-color: rgba(134, 155, 248, 0.13);
}

.flexContacto .tarjeta .contenido, .flexContacto #andres .contenido, .flexContacto #florencia .contenido {
  visibility: hidden;
}

.estiloForm, .sectionContacto .divContacto input, .sectionContacto .divContacto textarea {
  background-color: rgba(124, 149, 196, 0.637);
  border-style: solid;
  width: 100%;
  border-width: 0.5px;
  border-color: rgba(255, 255, 255, 0.596);
  font-family: "Montserrat", sans-serif;
}

@-webkit-keyframes efecto_cabecera {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes efecto_cabecera {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes efecto_menu {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes efecto_menu {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes efecto_contacto {
  0% {
    opacity: 0;
    width: 0%;
  }
  50% {
    opacity: 0;
    width: 50%;
  }
  100% {
    opacity: 1;
    width: 100%;
  }
}

@keyframes efecto_contacto {
  0% {
    opacity: 0;
    width: 0%;
  }
  50% {
    opacity: 0;
    width: 50%;
  }
  100% {
    opacity: 1;
    width: 100%;
  }
}

@-webkit-keyframes efecto_tarjeta {
  0% {
    opacity: 0;
    width: 0%;
  }
  50% {
    opacity: 0;
    width: 100px;
  }
  100% {
    opacity: 1;
    width: 30%;
  }
}

@keyframes efecto_tarjeta {
  0% {
    opacity: 0;
    width: 0%;
  }
  50% {
    opacity: 0;
    width: 100px;
  }
  100% {
    opacity: 1;
    width: 30%;
  }
}

@-webkit-keyframes efecto_contactanos {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    width: 100vw;
  }
  100% {
    opacity: 1;
    width: 70vw;
  }
}

@keyframes efecto_contactanos {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    width: 100vw;
  }
  100% {
    opacity: 1;
    width: 70vw;
  }
}

.flexInicialM {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  margin: 0;
  height: 100vh;
}

.flexInicialM__grilla {
  -webkit-animation-name: efecto_cabecera;
          animation-name: efecto_cabecera;
  -webkit-animation-duration: 2.5s;
          animation-duration: 2.5s;
  -webkit-animation-delay: 0;
          animation-delay: 0;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "texto" "textoGrande";
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -ms-grid-rows: 40% 100%;
      grid-template-rows: 40% 100%;
  padding: 15% 0 20% 0;
  margin: 0;
}

.flexInicialM__grilla__texto {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: texto;
  font-size: 26px;
  font-family: "Roboto Slab", serif;
  padding: 0px;
  margin: 0px;
}

.flexInicialM__grilla__textoGrande {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: textoGrande;
  color: #020752;
  font-size: 50px;
  letter-spacing: 0px;
  font-weight: light;
  font-family: "Montserrat", sans-serif;
}

.flexInicialM__fondo {
  background-image: url("../Imagenes/camiones2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0;
}

section #azul h2 a {
  text-decoration: none;
  color: #00094e;
  font-size: 30px;
  font-family: "Roboto Slab", serif;
}

section #azul article {
  color: black;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  text-align: justify;
}

section #azul article span {
  font-style: italic;
}

section #amarillo h2 a {
  text-decoration: none;
  color: rgba(253, 205, 142, 0.932);
  font-size: 30px;
  font-family: "Roboto Slab", serif;
}

section #amarillo article {
  color: #f0f0f0;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  text-align: justify;
}

section #amarillo article span {
  font-style: italic;
}

section .gridHisopado {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "imgHisopado txtHisopado";
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -ms-grid-rows: 100%;
      grid-template-rows: 100%;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-column-gap: 0;
          column-gap: 0;
  row-gap: 0;
  padding: 0;
  margin: 0;
  background-color: #00094e;
}

section .gridHisopado .imgHisopado {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: imgHisopado;
}

section .gridHisopado .imgHisopado img {
  width: 100%;
}

section .gridHisopado .txtHisopado {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: txtHisopado;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 20px;
}

.gridDeclaracion {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "txtDeclaracion imgDeclaracion";
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -ms-grid-rows: 100%;
      grid-template-rows: 100%;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  padding: 0;
  margin: 0;
  background-color: rgba(253, 205, 142, 0.932);
}

.gridDeclaracion .imgDeclaracion {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: imgDeclaracion;
}

.gridDeclaracion .imgDeclaracion img {
  width: 100%;
}

.gridDeclaracion .txtDeclaracion {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 20px;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: txtDeclaracion;
}

.gridApplus {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "imgApplus txtApplus";
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -ms-grid-rows: 100%;
      grid-template-rows: 100%;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  padding: 0;
  margin: 0;
  background-color: #00094e;
}

.gridApplus .imgApplus {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: imgApplus;
}

.gridApplus .imgApplus img {
  width: 100%;
}

.gridApplus .txtApplus {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 20px;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: txtApplus;
}

.gridTarifa {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "txtTarifa imgTarifa";
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -ms-grid-rows: 100%;
      grid-template-rows: 100%;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  padding: 0;
  margin: 0;
  background-color: rgba(253, 205, 142, 0.932);
}

.gridTarifa .imgTarifa {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: imgTarifa;
}

.gridTarifa .imgTarifa img {
  width: 100%;
}

.gridTarifa .txtTarifa {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 20px;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: txtTarifa;
}

.gridMercancia {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "imgMercancia txtMercancia";
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -ms-grid-rows: 100%;
      grid-template-rows: 100%;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  padding: 0;
  margin: 0;
  background-color: #00094e;
}

.gridMercancia .imgMercancia {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: imgMercancia;
}

.gridMercancia .imgMercancia img {
  width: 100%;
}

.gridMercancia .txtMercancia {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 20px;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: txtMercancia;
}

.flexFaq {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding-top: 3vh;
  padding-bottom: 3vh;
  background-color: #00094e;
}

.flexFaq h3 {
  color: black;
  font-size: 23px;
  font-family: "Roboto Slab", serif;
}

.flexFaq article {
  font-size: 20px;
  font-weight: light;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  margin-bottom: 4px;
}

.flexFaq .tarjeta, .flexFaq .flexContacto #andres, .flexContacto .flexFaq #andres, .flexFaq .flexContacto #florencia, .flexContacto .flexFaq #florencia {
  height: 9vh;
  width: 90vw;
  position: relative;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  background-color: rgba(233, 236, 245, 0.863);
  margin-bottom: 1vh;
  -webkit-transition: height 0.4s ease-out;
  transition: height 0.4s ease-out;
  border-style: solid;
  border-width: 0.5px;
  border-color: rgba(134, 155, 248, 0.13);
}

.flexFaq .tarjeta .contenido, .flexFaq .flexContacto #andres .contenido, .flexContacto .flexFaq #andres .contenido, .flexFaq .flexContacto #florencia .contenido, .flexContacto .flexFaq #florencia .contenido {
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  visibility: hidden;
}

.flexFaq .tarjeta:hover, .flexFaq .flexContacto #andres:hover, .flexContacto .flexFaq #andres:hover, .flexFaq .flexContacto #florencia:hover, .flexContacto .flexFaq #florencia:hover {
  height: 27%;
  padding-bottom: 0.5vh;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.flexFaq .tarjeta:hover .contenido, .flexFaq .flexContacto #andres:hover .contenido, .flexContacto .flexFaq #andres:hover .contenido, .flexFaq .flexContacto #florencia:hover .contenido, .flexContacto .flexFaq #florencia:hover .contenido {
  visibility: visible;
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.flexMasInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-image: url("../Imagenes/camiones2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0;
  padding: 100px;
}

.flexMasInfo h3 {
  margin: 0;
  color: #00094e;
  font-size: 40px;
  font-family: "Staatliches", cursive;
  letter-spacing: 5px;
}

.flexMasInfo .boton {
  width: 200px;
  height: 3%;
  margin-left: 50%;
  padding: 0;
  background-color: #00094e;
  text-align: center;
}

.flexMasInfo .boton a {
  padding: center;
  margin: 0;
  color: #f0f0f0;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
}

.flexServicio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  background-color: #00094e;
}

.flexServicio h2 {
  color: black;
  font-size: 23px;
  font-family: "Roboto Slab", serif;
}

.flexServicio article {
  font-size: 20px;
  font-weight: light;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

.flexServicio .servicio {
  height: 9vh;
  width: 90vw;
  position: relative;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  background-color: #f0f0f0;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.flexServicio .servicio .contenidoServicio {
  visibility: hidden;
}

.flexServicio .servicio:hover {
  height: 27%;
  padding-bottom: 0.5vh;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.flexServicio .servicio:hover .contenidoServicio {
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  visibility: visible;
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}
/*# sourceMappingURL=main.css.map */